<div class="body-background">
    <div class="alert alert-danger " *ngIf="error">{{ error }}</div>
    <div class="card login-div">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4">
            <div class="inner-login-div">
              <div class="card-header background-color">
                <div class="card-title">
                  <h3>Change Password</h3>
                </div>
              </div>
              <div class="card-body ">
                <form #changepasswordForm="ngForm" (ngSubmit)="changePassword(changepasswordForm)">
                    <input type="hidden" class="form-control mb-3" 
                    name="user_id" id="user_id" placeholder="Enter Your id"  #user_id='ngModel' ngModel="{{user.user_id}}">
  
                  <input type="password" name="password" id="changepassword" #password="ngModel" ngModel class="form-control mb-3"
                    placeholder="Enter changepassword" required minlength="9"  />
                  <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    changepassword
                    <div *ngIf="password.errors.required">
                      ChangePassword is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                      ChangePassword must be at least 9 characters long.
                    </div>
                  </div> -->


                  <input type="password" name="password" id="confirmpassword" #password="ngModel" ngModel class="form-control mb-3"
                    placeholder="Enter confirmpassword"/>
                  <!-- <div *ngIf="password.invalid && (password.dirty || assword.touched)" class="alert alert-danger">
                    confirmpassword
                    <div *ngIf="password.errors.required">
                      Confirm Password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                      ConfirmPassword must be at least 9 characters long.
                    </div> -->
                  <!-- </div> -->
  
                  <button type="submit" class="btn btn-primary form-control">
                    ChangePassword
                  </button>
                </form>
              </div>
            </div>
          </div>
