.body-background{
    height: 680px;
    background: url('../image/typewriter-801921_1920.jpg');
    background-size: cover;
}
.login-div{
    display: inline;
    margin-top: 100px;
}
.inner-login-div{
    box-shadow: 10px 5px 10px 5px gray;
    border-radius: 15px;
}
.font-color{
    color: #4be3cf;
}
.background-color{
background: #4be3cf !important;



}
.card-title h3{
    color: black;
}
.box-description{
    padding: 20px;
    box-shadow: 2px 3px 3px 2px gray;
    background: rgba(0, 0, 0, 0.6);
    color: #4be3cf;
    margin-left: 100px;
}
.card-header{
    border-radius: 15px 15px 0px 0px;
}