<div class="body-background">
    <div class="update-div text-center">
        <div class="alert alert-danger" *ngIf='error'>{{error}}</div>
        <div class="col-md-4 offset-md-4 display-inline">
            <div class="inner-update-div col-lg-6 offset-3">
                <div class="card-header background-color">
                    <div class="card-title ">
                        <h3>Update</h3>
                    </div>
                </div>

                <div class="card-body">
                    <form #updatesForm='ngForm' (ngSubmit)='updates(updatesForm)'>
                        <input type="hidden" class="form-control mb-3" name="pid" id="pid" #pid='ngModel'
                            ngModel="{{user.pid}}">
                        <input type="text" name="category" id="category" class="form-control mb-3" #category='ngModel'
                            ngModel="{{user.category}}" readonly>
                        <input type="text" name="company" id="company" class="form-control mb-3" #company='ngModel'
                            ngModel="{{user.company}}">
                        <input type="text" name="name" id="name" class="form-control mb-3" #name='ngModel'
                            ngModel="{{user.name}}">
                        <input type="hidden" name="price" id="price" class="form-control mb-3" #price='ngModel'
                            ngModel="{{user.price}}">
                        <input type="hidden" name="quantity" id="quantity" class="form-control mb-3" #quantity='ngModel'
                            ngModel="{{user.quantity}}">
                        <button class="btn btn-primary form-control" type="submit">Update</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>